@mixin btn-1 {
    padding: 12px 35px 12px 35px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 35px;
    background-color: #0082cb;
    font-weight: 500;
    border: none;
    background: linear-gradient(45deg, #0082cb,$color_primary);
    transition:.5s;
    text-transform: uppercase;
    &:hover {
        color: #fff;
    }
}

.btn {
    @include btn-1;
}