/*---------------------------------------------------------------------------------*/


/*-*-*-*-*-*-*-**-*- designé pour déclaré les couleurs -*-*-*-*-*--*-*/


/*---------------------------------------------------------------------------------*/

$color_primary: #761c9d;
$color_secondary: #ff226e;
$color_bleu: #0082cb;
$color_menu_hover: #f19e0d;
$color_black: #000;
$color_gris: #eaeaea;
$color_titre: #5a5a5a;
$color_texte: #999;
$color_white: #fff;
$color_footer: #f2f2f2;
$color_border: #e5e5e5;
$color_botton_hover: #e3b371;
$bg_footer:#dedede;

/*---------------------------------------------------------------------------------*/


/*-*-*-*-*-*-*-**-*- designé pour déclaré les Fonts -*-*-*-*-*--*-*/


/*---------------------------------------------------------------------------------*/




/*---------------------------------------------------------------------------------*/


/*-*-*-*-*-*-*-**-*- Media Querie -*-*-*-*-*--*-*/


/*---------------------------------------------------------------------------------*/

$maxMobile:767px;
$minSmall:768px;
$maxSmall:991px;